@import "~@blueprintjs/core/lib/scss/variables";

// This is complex...
.FetchedPhoto_container {
  // CONTAINER
  flex: auto;
  margin: 0 10px 10px 0;
  transition: height .2s, width .2s, margin-top .2s, margin-bottom .2s;
  border-radius: 6px;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  // expanded
  width: 100%;
  height: unset;

  img {
    display: block;
    width: 100%;
  }

  // The thumbnail view is more complex
  // the size is small, obviously
  // but there's also a bunch of stuff happening on hover
  &.thumbnail {
    width: 100px;
    height: 100px;

    // image is slightly wider to allow for height on hover
    img {
      width: 110%;
    }

    // controls are hidden until hovered
    .controls {
      bottom: -40px;
    }

    // and the height expands to give an affordance
    &:hover {
      height: 114px;
      margin-top: -7px;
      margin-bottom: -7px;

      .controls {
        bottom: 0;
      }
    }
  }

  // CONTROLS
  .controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: bottom .4s;
    padding: 4px;
    display: flex;
  
    .bp3-menu {
      min-width: unset;
      display: flex;
      padding-inline-start: 0;
      padding: 0;
      box-shadow: 0 0px 4px 0px rgba(0,0,0,.3);
    }
  
    .bp3-menu-item {
      padding: 5px 1px 6px 8px;
    }
  }
}
